
.card-fixed {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body-fixed {
    flex: 1;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.navbar-custom{
    padding-left: 5rem;
    padding-right: 5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.navbar .nav-link:hover {
    color: #adb5bd!important;
    text-decoration: none;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #adb5bd; 
    color: black !important;
    transition: background-color 0.3s ease;
}

.star-rating {
  direction: rtl;
  font-size: 2rem;
  display: inline-flex;
  gap: 0.2rem;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}

.footer-link:hover {
    color:  red !important;
    transition: color 0.2s;
  }