
.card-fixed {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body-fixed {
    flex: 1;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.navbar-custom {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-custom .nav-link {
  font-weight: 500;
  padding: 0.5rem 1rem;
}

@media (min-width: 992px) {
  
  .navbar-custom form {
    max-width: 400px;
    margin: 0 1rem;
  }
  .navbar-custom .nav {
    margin-left: auto;
  }
}


.star-rating {
  direction: rtl;
  font-size: 2rem;
  display: inline-flex;
  gap: 0.2rem;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: gold;
}

.footer-link:hover {
    color:  red !important;
    transition: color 0.2s;
  }