
.card-fixed {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body-fixed {
    flex: 1;
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.navbar-custom{
    padding-left: 5rem;
    padding-right: 5rem;
}

.navbar .nav-link:hover {
    color: red !important;
    text-decoration: none;
}

.dropdown-menu .dropdown-item:hover {
    background-color: red; 
    color: black !important;
    transition: background-color 0.3s ease;
}